<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RobotController.Config" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <RobotController.Config>
            <setting name="CarIpAddress" serializeAs="String">
                <value>192.168.1.4</value>
            </setting>
            <setting name="CameraIpAddress" serializeAs="String">
                <value>192.168.1.8</value>
            </setting>
            <setting name="CarTcpPort" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="VideoDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="SnapshotDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="CameraEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </RobotController.Config>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
